.favorite-icon {
  height: 25px;
}

.favorite-btn,
.favorited {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.favorite-btn:hover,
.favorited:hover {
  border: none;
  background-color: white;
}
