.home > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 0px;
}

.home > .hero {
  width: 50%;
  height: 900px;
}

.home {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  box-shadow: 0px 8px 15px rgb(0, 0, 0);
  font-size: 15px;
  background-color: white;
}

.home > div > h1 {
  color: rgb(78, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}
.home > div > p {
  color: rgb(78, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
}
