.home > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.home > .hero {
  width: 50%;
  height: 853px;
}

.home {
  display: flex;
  flex-direction: row;
}

p,
h1 {
  color: rgb(78, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 55px;
}
