.home > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.home > .hero {
  width: 50%;
  height: 853px;
}

.home {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  box-shadow: 0px 8px 15px rgb(0, 0, 0);
}

p,
h1 {
  color: rgb(78, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 41px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
}
