img {
  height: 50px;
}
header {
  background-color: #ed1d24;
  width: 193vh;
  display: flex;
  justify-content: center;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1250px;
  border-bottom: 2px #861418 solid;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

button {
  border: #861418 2px solid;
  border-radius: 99px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #861418;
  cursor: pointer;
  background-color: white;
}

button:hover {
  background-color: blue;
  color: yellow;
  border: yellow 2px solid;
  font-weight: bold;
}
