.heros > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

article {
  width: 276px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgb(238, 255, 0);
  justify-content: space-between;
}

article > img {
  width: 80%;
  height: 275px;
  object-fit: contain;
  border-radius: 15px;
}

.description {
  overflow: hidden;
}

article:hover {
  overflow: visible;
}

article > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* margin-left: 65px; */
  /* border: 2px red solid; */
  flex-shrink: 0;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}
article:hover > div {
  overflow: visible;
  /* margin-bottom: 10px; */
  height: auto;
}
/* .general {
  display: flex;
  flex-direction: column;
} */

.heros {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
  margin-right: 0px;
  align-items: center;
  gap: 10px;
  color: white;
}

.pagination > button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: black;
  border-color: black;
}
.pagination > button:hover {
  background-color: red;
  color: yellow;
  border-color: blue;
}

.charge {
  color: yellow;
}
/* .name {
  overflow: hidden;
} */
