.heros > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

article {
  border: green solid 2px;
  width: 276px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgb(0, 0, 0);
}

article > img {
  width: 80%;
  height: 275px;
  object-fit: cover;
  object-position: left;
}

.description {
  overflow: hidden;
}
