.heros > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

article {
  width: 276px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 8px 15px white;
  justify-content: space-evenly;
}

article > img {
  width: 80%;
  height: 275px;
  object-fit: contain;
  border-radius: 15px;
}

.description {
  overflow: hidden;
}

article:hover {
  overflow: visible;
}
