footer {
  background-color: #ed1d24;
  width: 193vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: yellow 5px solid;
}
footer > .container {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.image {
  rotate: -90deg;
  /* margin-right: 100px; */
  width: 100px;
  height: 200px;
}
